@function color1($alpha) {
  @return rgba(100, 100, 100, $alpha);
}
@function color2($alpha) {
  @return rgba(255, 255, 255, $alpha);
}


.dot {
  position: relative;
  top: 50%;
  //left: 0%;
  z-index: 5;
  transform: scale(1, 1);
  filter: blur(3px);
  width: 10px;
  height: 10px;
  background:color1(1);
  border-radius: 50%;
  
                
  transition: 0.5s;
  &:hover {
    filter: blur(0.1px);

    box-shadow: 0 0 0px 2px color2(1),
                0 0 0px 3px color1(0.4),
                0 0 0px 4px color2(1),
                0 0 0px 5px color1(0.5),
                0 0 0px 6px color2(1),
                0 0 0px 7px color1(0.6);
  }
}

#test{
  height: 120px;
  width: 120px;
}

.other{
  //color:#f5004f;
  animation: fadeOut 2s forwards
}
@keyframes fadeOut {
  0% { color:white;}
  30% { color:black;}
  60% { color:white;}
  100% { color:black;} 
}

