@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.shining-text-wrapper{
  display: flex;
  align-items: center;

  .text {
    font-family: "Lato";
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 6px;
    background:linear-gradient(90deg,white, black, white);
    background-repeat: no-repeat;
    background-size:80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;

  }

  @keyframes animate{
      0%{ background-position: -500%;}
      100%{background-position: 500%;}
  }
}
